@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("LayoutHeadViewComponentPartial")

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->

    <!-- Topbar Start -->
     @await Component.InvokeAsync("LayoutTopBarViewComponentPartial")
    <!-- Topbar End -->

    <!-- Navbar Start -->
    @await Component.InvokeAsync("LayoutNavBarViewComponentPartial")
    <!-- Navbar End -->
    
    @RenderBody()

    <!-- Footer Start -->
    @await Component.InvokeAsync("LayoutFooterViewComponentPartial")
    <!-- Footer End -->

    <!-- Copyright Start -->
    @await Component.InvokeAsync("LayoutCopyrightViewComponentPartial")
    <!-- Copyright End -->

    <!-- Script Start -->
    @await Component.InvokeAsync("LayoutScriptViewComponentPartial")
    <!-- Script End -->
</body>
</html>