@model List<ResultAddressDto>
<div class="col-lg-6 text-end">
    <div class="h-100 bg-secondary d-inline-flex align-items-center text-dark py-2 px-4">
        <span class="me-2 fw-semi-bold"><i class="fa fa-phone-alt me-2"></i>Call Us:</span>
        @foreach (var item in Model)
        {
            <a href="tel:@item.Phone" class="text-dark">
                <span>@item.Phone</span>
            </a>
        }
    </div>
</div>