@model UpdateAddressDto
@{
    ViewData["Title"] = "UpdateAddress";
    Layout = "~/Areas/MilkyAdmin/Views/Layout/Index.cshtml";
}

<div class="container-fluid">
    <div class="card-header">
        <h3 class="card-title">
            <b>Create Address</b>
        </h3>
    </div>
    <div class="card-body">
        <form role="form" method="post" action="/MilkyAdmin/Address/UpdateAddress">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="text-danger">Street</label>
                        <input type="hidden" class="form-control" placeholder="addressId" asp-for="AddressId">
                        <input type="text" class="form-control" placeholder="street" asp-for="Street">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="text-danger">City</label>
                        <input type="text" class="form-control" placeholder="city" asp-for="City">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="text-danger">Country</label>
                        <input type="text" class="form-control" placeholder="country" asp-for="Country">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="text-danger">Phone</label>
                        <input type="text" class="form-control" placeholder="phone" asp-for="Phone">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="text-danger">Email</label>
                        <input type="text" class="form-control" placeholder="email" asp-for="Email">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="text-danger">MapLocation</label>
                        <input type="text" class="form-control" placeholder="map location" asp-for="MapLocation">
                    </div>
                </div>
            </div>
            <button style="margin-top:1rem" type="submit" class="btn btn-outline-success col-md-12">Update New Address</button>
        </form>
    </div>
</div>

