@model CreateGalleryDto
@{
    ViewData["Title"] = "CreateGallery";
    Layout = "~/Areas/MilkyAdmin/Views/Layout/Index.cshtml";
}

<div class="container-fluid">
    <div class="card-header">
        <h3 class="card-title">
            <b>Create Gallery</b>
        </h3>
    </div>
    <div class="card-body">
        <form role="form" method="post" action="/MilkyAdmin/Gallery/CreateGallery">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="text-danger">Image Url</label>
                        <input type="text" class="form-control" placeholder="image url" asp-for="ImageUrl">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="text-danger">Status</label>
                        <select class="form-control" asp-for="Status">
                            <option value="" selected disabled style="color: red;">Select a status</option>
                            <option value="true">Activated</option>
                            <option value="false">Pacified</option>
                        </select>
                    </div>
                </div>
            </div>
            <button style="margin-top:1rem" type="submit" class="btn btn-outline-success col-md-12">Create New Gallery</button>
        </form>
    </div>
</div>
