@model List<ResultGalleryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/MilkyAdmin/Views/Layout/Index.cshtml";
}

@{
    int count = 0;
}
<div class="container-fluid">
    <div class="card-header">
        <h3 class="card-title">
            <b>Gallery List</b>
        </h3>
    </div>
    <div class="card-body table-responsive p-0">
        <table class="table table-hover text-decoration-none">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Id</th>
                    <th>Image Url</th>                   
                    <th>Status</th>                   
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td><b>@count</b></td>
                        <td>@item.GalleryId</td>
                        <td class="text-danger">@item.ImageUrl</td>
                        <td>
                            @if (@item.Status)
                            {
                                <span style="color:green">Activated</span>

                            }
                            else
                            {
                                <span style="color:red">Pacified</span>
                            }
                        </td>
                        <td>
                            <a href="/MilkyAdmin/Gallery/UpdateGallery/@item.GalleryId" class="btn btn-outline-primary sm">Update</a>
                        </td>
                        <td>
                            <a href="/MilkyAdmin/Gallery/DeleteGallery/@item.GalleryId" class="btn btn-outline-danger sm">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div style="margin-top:1rem">
            <a href="/MilkyAdmin/Gallery/CreateGallery" class="btn btn-outline-primary col-md-12">Create New Gallery</a>
        </div>
    </div>
</div>