<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="section-title bg-white text-center text-primary px-3">Testimonial</p>
            <h1 class="mb-5">What People Say About Our Dairy Farm</h1>
        </div>
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-img">
                    <img class="img-fluid animated pulse infinite" src="~/template/dairy-website-template/img/testimonial-1.jpg" alt="">
                    <img class="img-fluid animated pulse infinite" src="~/template/dairy-website-template/img/testimonial-2.jpg" alt="">
                    <img class="img-fluid animated pulse infinite" src="~/template/dairy-website-template/~/template/dairy-website-template/img/testimonial-3.jpg" alt="">
                    <img class="img-fluid animated pulse infinite" src="~/template/dairy-website-template/img/testimonial-4.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.5s">
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item">
                        <img class="img-fluid mb-3" src="~/template/dairy-website-template/img/testimonial-1.jpg" alt="">
                        <p class="fs-5">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <h5>Client Name</h5>
                        <span class="text-primary">Profession</span>
                    </div>
                    <div class="testimonial-item">
                        <img class="img-fluid mb-3" src="~/template/dairy-website-template/img/testimonial-2.jpg" alt="">
                        <p class="fs-5">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <h5>Client Name</h5>
                        <span class="text-primary">Profession</span>
                    </div>
                    <div class="testimonial-item">
                        <img class="img-fluid mb-3" src="~/template/dairy-website-template/img/testimonial-3.jpg" alt="">
                        <p class="fs-5">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <h5>Client Name</h5>
                        <span class="text-primary">Profession</span>
                    </div>
                    <div class="testimonial-item">
                        <img class="img-fluid mb-3" src="~/template/dairy-website-template/img/testimonial-4.jpg" alt="">
                        <p class="fs-5">Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem lorem magna ut et, nonumy et labore et tempor diam tempor erat.</p>
                        <h5>Client Name</h5>
                        <span class="text-primary">Profession</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>