@model CreateProductDto
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Areas/MilkyAdmin/Views/Layout/Index.cshtml";
}

<div class="container-fluid">
    <div class="card-header">
        <h3 class="card-title">
            <b>Create Product</b>
        </h3>
    </div>
    <div class="card-body">
        <form role="form" method="post" action="/MilkyAdmin/Product/CreateProduct">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="text-danger">Product Name</label>
                        <input type="text" class="form-control" placeholder="product name" asp-for="Name">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="text-danger">New Price</label>
                        <input type="text" class="form-control" placeholder="new price" asp-for="NewPrice">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="text-danger">Last Price</label>
                        <input type="text" class="form-control" placeholder="last price" asp-for="LastPrice">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="text-danger">Image Url</label>
                        <input type="text" class="form-control" placeholder="image url" asp-for="Image">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="text-danger">Status</label>
                        <input type="text" class="form-control" placeholder="status" asp-for="Status">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="text-danger">Category Name</label>
                        <select asp-for="CategoryId" class="form-control">
                            <option value="" selected disabled style="color:red">Select a Category</option>

                            @foreach (var category in ViewBag.Categories)
                            {
                                <option value="@category.CategoryId">@category.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <button style="margin-top:1rem" type="submit" class="btn btn-outline-success col-md-12">Create New Product</button>
        </form>
    </div>
</div>