@model List<ResultSocialMediaDto>

<div class="container-fluid bg-dark px-0">
    <div class="row g-0 d-none d-lg-flex">
        <div class="col-lg-6 ps-5 text-start">
            <div class="h-100 d-inline-flex align-items-center text-light">
                <span>Follow Us:</span>
                @foreach (var item in Model)
                {
                    <a class="btn btn-link text-light" href="@item.AccountUrl"><i class="@item.Icon"></i></a>
                }               
            </div>
        </div>
        @await Component.InvokeAsync("LayoutTopBarPhoneNumberViewComponentPartial")
    </div>
</div>