  <div class="container-xxl py-5 px-0">
        <div class="row g-0">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-0">
                    <div class="col-12">
                        <a class="d-block" href="img/gallery-5.jpg" data-lightbox="gallery">
                            <img class="img-fluid" src="~/template/dairy-website-template/img/gallery-5.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="d-block" href="img/gallery-1.jpg" data-lightbox="gallery">
                            <img class="img-fluid" src="~/template/dairy-website-template/img/gallery-1.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="row g-0">
                    <div class="col-12">
                        <a class="d-block" href="img/gallery-2.jpg" data-lightbox="gallery">
                            <img class="img-fluid" src="~/template/dairy-website-template/img/gallery-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="d-block" href="img/gallery-6.jpg" data-lightbox="gallery">
                            <img class="img-fluid" src="~/template/dairy-website-template/img/gallery-6.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="row g-0">
                    <div class="col-12">
                        <a class="d-block" href="img/gallery-7.jpg" data-lightbox="gallery">
                            <img class="img-fluid" src="~/template/dairy-website-template/img/gallery-7.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="d-block" href="img/gallery-3.jpg" data-lightbox="gallery">
                            <img class="img-fluid" src="~/template/dairy-website-template/img/gallery-3.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="row g-0">
                    <div class="col-12">
                        <a class="d-block" href="img/gallery-4.jpg" data-lightbox="gallery">
                            <img class="img-fluid" src="~/template/dairy-website-template/img/gallery-4.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-12">
                        <a class="d-block" href="img/gallery-8.jpg" data-lightbox="gallery">
                            <img class="img-fluid" src="~/template/dairy-website-template/img/gallery-8.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="container-xxl py-5 px-0">
    <div class="row g-0">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="row g-0">
                <div class="col-12">
                    <a class="d-block" href="img/gallery-5.jpg" data-lightbox="gallery">
                        <img class="img-fluid" src="~/template/dairy-website-template/img/gallery-5.jpg" alt="">
                    </a>
                </div>
                <div class="col-12">
                    <a class="d-block" href="img/gallery-1.jpg" data-lightbox="gallery">
                        <img class="img-fluid" src="~/template/dairy-website-template/img/gallery-1.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="row g-0">
                <div class="col-12">
                    <a class="d-block" href="img/gallery-2.jpg" data-lightbox="gallery">
                        <img class="img-fluid" src="~/template/dairy-website-template/img/gallery-2.jpg" alt="">
                    </a>
                </div>
                <div class="col-12">
                    <a class="d-block" href="img/gallery-6.jpg" data-lightbox="gallery">
                        <img class="img-fluid" src="~/template/dairy-website-template/img/gallery-6.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="row g-0">
                <div class="col-12">
                    <a class="d-block" href="img/gallery-7.jpg" data-lightbox="gallery">
                        <img class="img-fluid" src="~/template/dairy-website-template/img/gallery-7.jpg" alt="">
                    </a>
                </div>
                <div class="col-12">
                    <a class="d-block" href="img/gallery-3.jpg" data-lightbox="gallery">
                        <img class="img-fluid" src="~/template/dairy-website-template/img/gallery-3.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="row g-0">
                <div class="col-12">
                    <a class="d-block" href="img/gallery-4.jpg" data-lightbox="gallery">
                        <img class="img-fluid" src="~/template/dairy-website-template/img/gallery-4.jpg" alt="">
                    </a>
                </div>
                <div class="col-12">
                    <a class="d-block" href="img/gallery-8.jpg" data-lightbox="gallery">
                        <img class="img-fluid" src="~/template/dairy-website-template/img/gallery-8.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>