<div class="container-fluid bg-secondary text-body copyright py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                Copyright &copy; 2021-<script>document.write(new Date().getFullYear())</script> <a class="fw-semi-bold" href="www.linkedin.com/in/yahyaerdoan">Yahya John Erdogan</a>, All Right Reserved.
            </div>
            <div class="col-md-6 text-center text-md-end">               
                Designed By <a class="fw-semi-bold" href="https://github.com/yahyaerdoan">Yahya John Erdogan</a>
            </div>
        </div>
    </div>
</div>
