    <!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="/AboutUs/Index" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Milky Admin</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="~/Template/AdminTemplate/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Yahya John Erdogan</h6>
                <span>Milky Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/Home/Default" class="nav-item nav-link"><i class="fa fa-home me-2"></i>Home</a>
            <a href="/MilkyAdmin/Dashboard/Index" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/MilkyAdmin/AboutUs/Index" class="nav-item nav-link"><i class="fa fa-info-circle me-2"></i>About Us</a>
            <a href="/MilkyAdmin/Address/Index" class="nav-item nav-link"><i class="fa fa-map-marker me-2"></i>Address</a>
            <a href="/MilkyAdmin/Banner/Index" class="nav-item nav-link"><i class="fa fa-image me-2"></i>Banner</a>
            <a href="/MilkyAdmin/BusinessHour/Index" class="nav-item nav-link"><i class="fa fa-clock me-2"></i>Business Hour</a>
            <a href="/MilkyAdmin/Category/Index" class="nav-item nav-link"><i class="fa fa-list-alt me-2"></i>Category</a>
            <a href="/MilkyAdmin/Gallery/Index" class="nav-item nav-link"><i class="fa fa-image me-2"></i>Gallery</a>
            <a href="/MilkyAdmin/Message/Index" class="nav-item nav-link"><i class="fa fa-envelope me-2"></i>Message</a>
            <a href="/MilkyAdmin/OurService/Index" class="nav-item nav-link"><i class="fa fa-cogs me-2"></i>Our Service</a>
            <a href="/MilkyAdmin/Product/Index" class="nav-item nav-link"><i class="fa fa-shopping-cart me-2"></i>Product</a>
            <a href="/MilkyAdmin/ServiceType/Index" class="nav-item nav-link"><i class="fa fa-tasks me-2"></i>Service Type</a>
            <a href="/MilkyAdmin/Slider/Index" class="nav-item nav-link"><i class="fa fa-sliders-h me-2"></i>Slider</a>
            <a href="/MilkyAdmin/SocialMedia/Index" class="nav-item nav-link"><i class="fa fa-share-alt me-2"></i>Social Media</a>
            <a href="/MilkyAdmin/TeamMember/Index" class="nav-item nav-link"><i class="fa fa-users me-2"></i>Team Member</a>
            <a href="/MilkyAdmin/TeamMemberSocialMedia/Index" class="nav-item nav-link"><i class="fa fa-link me-2"></i>T.M S. Media</a>
            <a href="/MilkyAdmin/Testimonial/Index" class="nav-item nav-link"><i class="fa fa-comments me-2"></i>Testimonial</a>
            <a href="/MilkyAdmin/WhyUs/Index" class="nav-item nav-link"><i class="fa fa-question-circle me-2"></i>Why Us</a>
            <a href="/MilkyAdmin/WhyUsDetail/Index" class="nav-item nav-link"><i class="fa fa-info me-2"></i>Why Us Detail</a>

        </div>
    </nav>
</div>
<!-- Sidebar End -->
